.map {
    max-width: 400px;
    margin: auto;
}
agm-map {
	height: 250px;
}

.info {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	vertical-align: top;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

	.info table {
		margin-top: -10px;
		margin: auto;
	}

	.info table td {
		font-size: 20px;
		padding-right: 10px;
	}

	.info h2 {
		text-align: center;
	}