<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p *ngFor="let error of errors">
                    {{ error.message }}
                </p>
                <h3>Login</h3>
                <form 
                    (submit)="onSubmit(); logUser.resetForm()"
                    #logUser="ngForm">
                    <div class="form-group">
                        <input
                            type="text"
                            name="email"
                            required
                            minlength="2"
                            maxlength="30"
                            [(ngModel)]="user.email"
                            #email="ngModel"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input
                            type="password"
                            name="password"
                            required
                            minlength="2"
                            maxlength="30"
                            [(ngModel)]="user.password"
                            #name="ngModel"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button
                            [disabled]="!logUser.valid"
                            class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
