.header {
	padding-top: 20px;
	text-align: center;
	display: flex;
    flex-direction: column;
	margin-bottom: 50px;
	transform: 300ms all ease;
	flex: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
	display: inline;
	padding-left: 10px;
	font-size: 50px;
	font-family: 'Sacramento', cursive;
	position: relative;
}

.main a {
	text-decoration: none;
	color: black;
	transition: 250ms all ease;
}