<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Sacramento" rel="stylesheet">
<div class="container header">
	<div class="row">
		<div class="col-md-12 main">
<!-- 			<ul>
				<li><a [routerLink]="['/']">our story</a></li>
				<li>|</li>
				<li>photos</li>
				<li>|</li>
				<li><a [routerLink]="['/info']">information</a></li>
				<li>|</li>
				<li><a [routerLink]="['/guestbook', 'register']">guest book</a></li>
				<li>|</li>
				<li><a [routerLink]="['/registry']">registry</a></li>
			</ul> -->
			<ul>
				<li>our story</li>
				<li>|</li>
				<li>photos</li>
				<li>|</li>
				<li>information</li>
				<li>|</li>
				<li>guest book</li>
				<li>|</li>
				<li>registry</li>
			</ul>
		</div>
	</div>
</div>